<footer class="text-center text-white" style="background-color: #212020;">
  <div class="container p-4 pb-0">
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">GitHub</span>
        <a href="https://github.com/diegoGoCode/FrontEnd-Prueba-BdB" target="_blank" class="btn btn-outline-light btn-rounded ir">
          Ir
        </a>
      </p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white">DiegoGoCode</a>
  </div>
</footer>
